/* Search Section Styles */

.search {
    background-color: #f1f1f1;
    padding: 60px;
}

.search-form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

#locationInput {
    width: 250px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 10px;
}

#jobRoleInput {
    width: 250px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 10px;
}

/* Listing Section Styles */

.listing {
    padding: 50px;
}

.listing h2 {
    text-align: center;
}

#candidateList {
    list-style: none;
    padding: 0;
}

#candidateList li {
    margin-bottom: 10px;
}

.candidate {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* Card Section Styles */

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-imag {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.candidate-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.candidate-first-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.candidate-second-details {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 7px;
}

.candidate-name {
    margin-top: 10px;
}

.job-role {
    color: brown;
    font-weight: 300;
}

.candidate-salary {
    display: flex;
    align-items: center;
    gap: 10px;
}

.candidate-location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.button {
    background-color: #4681f4;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .70rem 1.1rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
}

.button:hover {
    background-color: #374151;
}

.button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button {
        padding: .75rem 1.5rem;
    }
}


@media screen and (max-width:768px) {

    .search {
        padding: 20px;
        margin-bottom: 20px;
    }
    
    .listing {
        padding: 20px;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        margin-left: 5px;
        margin-bottom: 25px;
    }

    .candidate {
        grid-template-columns: 1fr;
    }

    .candidate-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .candidate-first-details {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .candidate-second-details {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .card-imag {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin: auto;
    }

    .search-form {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .search-card {
        flex-direction: column;
        gap: 10px;
    }

    .card-info {
        flex-direction: column;
        gap: 10px;
    }

    .search-card-imag {
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    #locationInput {
        width: 100%;
    }

    #jobRoleInput {
        width: 100%;
    }

    .candidate-first-details {
        flex-direction: column;
        align-items: start;
    }

    .button {
        width: 100%;
    }

}