/* Search Section Styles */

.search {
    background-color: #f1f1f1;
    padding: 60px;
}

.search-form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

#locationInput {
    width: 250px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 10px;
}

#jobRoleInput {
    width: 250px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 10px;
}

/* Listing Section Styles */

.listing {
    padding: 50px;
}

.listing h2 {
    text-align: center;
}

#candidateList {
    list-style: none;
    padding: 0;
}

#candidateList li {
    margin-bottom: 10px;
}


.candidate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* Card Section Styles */

.card {
    border: 1px solid #dec802;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-10px);
}

.card:hover {
    transform: translateY(-20px);
}

.card-imag {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin: auto auto;
}

.search-card-imag {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.search-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.button {
    background-color: #333;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .70rem 1.1rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button:hover {
    background-color: #374151;
}

.button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button {
        padding: .75rem 1.5rem;
    }
}

@media screen and (max-width:768px) {

    .candidate {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card-imag {
        width: 100%;
        height: auto;
        max-width: 350px;
        border-radius: 5px;
        margin: auto;
    }

    .search-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .card-info {
        flex-direction: column;
        gap: 10px;
    }

    .button {
        width: 100%;
    }
}